<div *ngIf="reqData.length != 0">
    <button routerLink="">Back</button>
    <div class="each-flag-container">
        <ul class = "listitems">
            <div class = "rightContainer">
                <li><h1 class="title">{{reqData[0].name.common}}</h1></li>
                <li>
                    <div class="flag-image-container">
                        <img class="flag-image" src={{reqData[0].flags.svg}} />
                    </div>
                </li>
            </div>

            <div>
                <li><b>Official Name:</b> {{reqData[0].name.official}}</li>
                <li><b>Capital:</b> {{reqData[0].capital}}</li>
                <li><b>Population:</b> {{reqData[0].population}}</li>
                <li><b>Region:</b> {{reqData[0].region}}</li>
                <li><b>Top Level Domain:</b> {{reqData[0].tld}}</li>
            </div>
        </ul>
    </div>
</div>