li{
    list-style-type: none;
    font-family: "caveat";
    margin-bottom: .5rem;
}

.listitems{
    display: flex;
    flex-direction: space-between;
    align-items: center;
}
.rightContainer{
margin-right: 2rem;
}
.each-flag-container{
    width:90%;
    height: 90%;
    border-width: .5rem;
    border-style: solid;
    border-color: red;
    margin:1rem;
}

.flag-image-container{
    width: 100%;
    margin-right: 3rem;
}

.flag-image{
    width:100%;
    border-style: solid;
    border-color: red;
}
.title{
    align-self: center;
}
