li{
    list-style-type: none;
    font-family: "caveat";
    margin-bottom: .5rem;
}
.flags-main-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.each-flag-container{
    width:20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-width: .5rem;
    border-style: solid;
    border-color: red;
    margin:1rem;
}

.flag-image-container{
    width: 80%;
}

.flag-image{
    width:100%;
    border-style: solid;
    border-color: red;
}
.title{
    align-self: center;
}
