


<form (change)="onChange(searchedcountry.value)">
    <input type = "text" #searchedcountry placeholder="Search for country">
</form>


<div class="flags-main-container">
    <div class = "each-flag-container" *ngFor="let country of reqData">
        <ul>
           <a routerLink="{{country.name.common}}"><li class = "title"><b>{{country.name.common}}</b></li></a> 
            <li>
                <div class = "flag-image-container">
                    <img class = "flag-image" src={{country.flags.png}} />
                </div>
            </li>
            <li><b>Capital:</b> {{country.capital}}</li>
            <li><b>Population:</b> {{country.population}}</li>
            <li><b>Region:</b> {{country.region}}</li>
        </ul>
    </div>
</div>